.main__backstage {
  display: flex;
  gap: 174px;
  flex-direction: column;
  justify-content: space-between;
  padding: 140px 0 100px;
  background: url("../../assets/images/flower_foto.png") 100% 1% no-repeat,
              url("../../assets/images/palm_foto.png") 0 100% no-repeat,
              url("../../assets/images/strelitzia.png") 100% 100% no-repeat;

  @media screen and (max-width: 1600px) {
    background-image: none;
    background: url("../../assets/images/palm_foto_small-desktop.png") 0% 100% no-repeat,
                url("../../assets/images/strelitzia_small-desktop.png") 100% 100% no-repeat;
    gap: 160px;
    padding: 100px 0 140px;
  }

  @media screen and (max-width: 1000px) {
    background-image: none;
    background: url("../../assets/images/flower_foto_tablet.png") 100% 0% no-repeat, 
                url("../../assets/images/palm_foto_tablet.png") 0% 100% no-repeat,
                url("../../assets/images/strelitzia_tablet.png") 100% 100% no-repeat;
    gap: 76px;
    align-items: center;
    padding: 60px 20px 100px;
  }

  @media screen and (max-width: 640px) {
    background-image: none;
    background: url("../../assets/images/flower_foto_mobile.png") 100% 2% no-repeat, 
                url("../../assets/images/palm_foto_mobile.png") 0% 100% no-repeat,
                url("../../assets/images/strelitzia_mobile.png") 100% 100.2% no-repeat;
    gap: 33px;
    align-items: center;
    padding: 104px 10px 60px;
  }
}

.text {
  @include body-roboto-regular;
  color: #333B41;
}

.backstage {
  margin: 0 auto;
  min-height: 403px;
  max-width: 1161px;
  display: flex;
  align-items: start;
  justify-content: space-between;

  @media screen and (max-width: 1000px) {
    min-height: 360px;
  }

  @media screen and (max-width: 640px) {
    min-height: 388px;
  }

  &__image {
    max-width: 609px;
    margin: 0 87px 0 0;
    object-fit: contain;

    @media screen and (max-width: 1600px) {
      width: 455px;
      height: 408px;
      margin: 0 31px 0 0;
      object-fit: cover;
    }

    @media screen and (max-width: 1000px) {
      display: none;
    }
  }

  @media screen and (max-width: 1000px) {
    margin: 0;
  }

  &__text {

    @media screen and (max-width: 1600px) {
      max-width: 455px;
    }

    @media screen and (max-width: 1000px) {
      max-width: 490px;
    }

    @media screen and (max-width: 640px) {
      max-width: 300px;
    }

    p{

    }
  }
}

.title {
  @include h2-roboto-regular;
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  margin-bottom: 20px;

  @media screen and (max-width: 640px) {
    margin: 30px 0 10px 0;
  }

  @media screen and (max-width: 640px) {
    font-size: 24px;
    margin: 0 0 10px 0;
  }
}

.subtitle {
  @include subtitle-roboto-regular;
  margin: 54px 0 34px 0;

  @media screen and (max-width: 1000px) {
    margin: 30px 0 20px 0;
  }

  @media screen and (max-width: 640px) {
    margin: 20px 0 10px 0;
  }
}