.scroll-container{
  width: 599px;
  height: 8px;
  background: 
  linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), 
  linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  border-radius: 5px;
  position: relative;

  @media screen and (max-width: 1600px) {
    width: 390px;
  }

  @media screen and (max-width: 1000px) {
    display: none;
  }
}

input[type=range] {
  position: absolute;
  appearance: none;
  width: 598px;
  height: 7px;
  margin: 0.5px;
  background: #F5F7F6;
  border-radius: 5px;

  @media screen and (max-width: 1600px) {
    width: 390px;
  }
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 115.19px;
  height: 6px;
  background: #FE9013;
  border-radius: 5px;

  @media screen and (max-width: 1600px) {
    width: 75px;
  }
}

input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  border:transparent;
  width: 115.19px;
  height: 6px;
  background: #FE9013;
  border-radius: 5px;

  
  @media screen and (max-width: 1600px) {
    width: 75px;
  }
}